---
  - name: Ensure kitty is installed
    homebrew_cask:
      name: kitty

  - name: Add required homebrew repos
    homebrew_tap:
      name: homebrew/cask-fonts

  - name: Ensure console utils are installed
    homebrew:
      name:
        - ansible-lint
        - asimov
        - bat
        - bfg
        - exa
        - dive
        - dog
        - git
        - gh
        - gnupg
        - hadolint
        - httpie
        - jsonlint
        - hub
        - fd
        - fzf
        - lima
        - luarocks
        - mosh
        - mtr
        - mysql-client
        - nmap
        - neovim
        - openssh
        - pinentry-mac
        - pwgen
        - pv
        - ripgrep
        - sloccount
        - siege
        - sublime-text
        - telnet
        - watchman
        - yamllint

  - name: Ensure graphical utils are installed
    homebrew_cask:
      name:
        - font-sauce-code-pro-nerd-font
        - ngrok
        - postico

  - name: Ensure python and node version managers are installed
    homebrew:
      name:
        - n
        - uv
